#titulo_principal{
    text-align: left;
    color: white
}

.links{
    text-align: center;
}

body{
    background-color: rgba(1, 1, 131, 0.801);
}
#imagem1{

}



#links{
    text-align: center;
    background-color: gray;
    border-radius: 10px; /*deixar borda arredondada*/
    width: 20%;
}